# Nextflow
work/
.nextflow/
.nextflow.log*
legacy/
# Results
results/
output/

# Test data
test_data/
*.fastq
*.fastq.gz
*.bam
*.bai
*.gbz
*.gfa
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.fa
*.fasta
*.fna

# Singularity
.singularity/

# Other
.DS_Store
