params {
    // Input files
    input_csv = null
    reference = null
    
    // VCF source options (choose one)
    hprc_graph = null           // Path to HPRC GBZ file
    use_graph_vcf = false       // Extract VCF from graph
    phased_vcf = null           // Or use pre-phased VCF from ./data
    
    // Output directory
    outdir = './results'
    cache_dir = "${launchDir}/singularity_cache"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.cache_dir
}

process {
    // vg toolkit (for VCF extraction from graph)
    withLabel: 'vg' {
        container = 'quay.io/vgteam/vg:v1.51.0'
        cpus = 16
        memory = '64 GB'
        time = '6h'
    }
    
    // PanGenie for SV genotyping
    withLabel: 'pangenie' {
        container = 'quay.io/biocontainers/pangenie:3.0.0--h7d875b9_0'
        cpus = 8
        memory = '32 GB'
        time = '8h'
    }
    
    // bcftools for VCF operations
    withLabel: 'bcftools' {
        container = 'quay.io/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }
}

// HPC profiles
profiles {
    saga {
        executor.name = 'slurm'
        executor.account = 'nn9114k'
        process.memory = '32 GB'
        process.time = '12h'
        process.cpus = 16
    }
    
    tsd {
        executor.name = 'slurm'
        executor.account = 'p33_norment'
        executor.perCpuMemAllocation = true
        process.memory = '32 GB'
        process.time = '12h'
        process.cpus = 16
    }
}

process {
    errorStrategy = 'retry'
    maxRetries = 2
}
