params {
    input_csv = null
    hprc_graph = null
    reference = null
    kgp_sv_vcf = null
    
    augment_graph = false
    output_bam = false
    read_type = 'short'
    
    outdir = './results'
    cache_dir = "${launchDir}/singularity_cache"
    
    hprc_graph_url = 'https://s3-us-west-2.amazonaws.com/human-pangenomics/pangenomes/freeze/freeze1/minigraph-cactus/hprc-v1.1-mc-grch38/hprc-v1.1-mc-grch38.gbz'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.cache_dir
}

process {
    withLabel: 'vg' {
        container = 'quay.io/vgteam/vg:v1.51.0'
    }
    withLabel: 'deepvariant' {
        container = 'gcr.io/deepvariant-docker/deepvariant:pangenome_aware_deepvariant-head737001992'
    }
    withLabel: 'pangenie' {
        container = 'quay.io/biocontainers/pangenie:3.0.0--h7d875b9_0'
    }
    withLabel: 'samtools' {
        container = 'quay.io/biocontainers/samtools:1.18--h50ea8bc_1'
    }
    withLabel: 'bcftools' {
        container = 'quay.io/biocontainers/bcftools:1.18--h8b25389_0'
    }
}

profiles {
    saga {
        executor.name = 'slurm'
        executor.account = 'nn9114k'
        process.memory = '32 GB'
        process.time = '12h'
        process.cpus = 16
    }
    
    tsd {
        executor.name = 'slurm'
        executor.account = 'p33_norment'
        executor.perCpuMemAllocation = true
        process.memory = '32 GB'
        process.time = '12h'
        process.cpus = 16
    }
}

process {
    errorStrategy = 'retry'
    maxRetries = 2
    
    withLabel: 'vg' {
        memory = '64 GB'
        time = '12h'
        cpus = 16
    }
    withLabel: 'deepvariant' {
        memory = '64 GB'
        time = '24h'
        cpus = 16
    }
    withLabel: 'pangenie' {
        memory = '32 GB'
        time = '8h'
        cpus = 8
    }
    withLabel: 'samtools' {
        memory = '16 GB'
        time = '4h'
        cpus = 8
    }
    withLabel: 'bcftools' {
        memory = '8 GB'
        time = '2h'
        cpus = 4
    }
}
